.client-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.client-list-item {
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
  border: 1px solid var(--color-icon-client-border);
  border-radius: 4px;

  &:hover,
  &:focus-within {
    border: 1px solid var(--color-icon-client-border-accent);
  }
}

.client-list-link {
  @extend %align;
  width: 170px;
  height: 92px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--color-icon-client);

  .client-list-link:hover &,
  .client-list-link:focus & {
    fill: var(--color-icon-client-accent);
  }
}
