.logo-header {
  font-size: 26px;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  color: var(--color-logo);
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.logo-header-text {
  font-size: 26px;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  color: var(--color-logo-header-text);
}

.logo-footer {
  color: var(--color-logo);
  font-size: 26px;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 28px;
}

.logo-footer-text {
  font-size: 26px;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  color: var(--color-logo-footer-text);
}
