.title {
  color: var(--primary-color);
  text-align: center;
  font-size: 36px;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
