:root {
  --primary-color: #212121;
  --color-logo: #2196f3;
  --color-logo-header-text: #000000;
  --color-logo-footer-text: #ffffff;
  --accent-color: #2196f3;
  --main-title-color: #fff;
  --button-text-color: #fff;
  --button-background-color: #2196f3;
  --button-filter-background-color: #f5f4fa;
  --button-filter-background-color-accent: #2196f3;
  --button-filter-text-color: #212121;
  --button-filter-text-color-accent: #ffffff;
  --color-border-card-team: #fff;
  --color-border-project-card: #eee;
  --futter-contact-map-text: #fff;
  --futter-contact-text: rgba (255, 255, 255, 0.6);
  --text-section-p: #757575;
  --project-text-p: #757575;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --background-color-primary: #fff;
  --background-color-hero: #c4c4c4;
  --background-color-section-team: #f5f4fa;
  --background-color-footer: #2f303a;
  --background-color-project-card: #fff;
  --color-icon-envelope: #757575;
  --color-icon-envelope-accent: #2196f3;
  --background-color-icon-element: #f5f4fa;
  --color-social-icon: #afb1b8;
  --color-social-icon-accent: #ffffff;
  --background-color-social-icon: #ffffff;
  --background-color-social-icon-accent: #2196f3;
  --background-color-social-icon-footer-accent: #2196f3;
  --color-icon-client: #afb1b8;
  --color-icon-client-accent: #2196f3;
  --color-icon-client-border: #afb1b8;
  --color-icon-client-border-accent: #2196f3;
  --color-social-icon-footer: #afb1b8;
  --color-social-icon-footer-accent: #ffffff;
  --color-footer-social: #fff;
  --color-modal-close-button-icon: #000000;
  --color-modal-close-button-icon-accent: #2196f3;
  --background-color-overlay: rgba(33, 150, 243, 0.9);
  --background-color-do-thumb-list: rgba(47, 48, 58, 0.8);
  --color-text-do-thumb-list: #fff;
  --color-modal-title: #212121;
  --color-modal-form-input-desc: #757575;
  --background-color-modal-form-input: #fff;
  --color-modal-form-textarea: rgba(33, 33, 33, 0.2);
  --color-modal-form-textarea-accent: #188ce8;
  --background-button-form: #188ce8;
  --color-button-form-text: #ffffff;
  --color-modal-form-icon-accent: #2196f3;
  --color-modal-form-check-icon: #ffffff;
  --color-text-checkbox: #757575;
  --color-text-checkbox-link: #2196f3;
}
